<html>
  <head>
    <link href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css' rel='stylesheet' />
  </head>
  <body>
    <div class='container'>
      <%= erb(:my_info, layout: false) unless current_user.nil? %>
      <div class='content'>
        <%= styled_flash %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
