<div id="my_info">
  <h3><img src="<%= current_user.profile.profile_image_url %>" /><a href="<%= current_user.profile.profile_url %>"><%= current_user.profile.name %></a></h3>
  <p><%= current_user.profile.location_name %></p>
  <form method="GET" action="#">
    <label for="center_override">Override With:<input id="center_override" name="center_override" type="text" placeholder="San Francisco, Ca" /></label>
  </form>
</div>
