<div id="my_info">
  <h3><img src="<%= current_user.profile.profile_image_url %>" /><a href="<%= current_user.profile.profile_url %>"><%= current_user.name %></a></h3>
  <p><%= current_user.profile.location_name %></p>
</div>
